*{
	margin:0;
	padding:0;
}
#main{
	width:80%;
	margin:0 auto;
}
p{
	font-size:30px;
	text-align:center;
	position:absolute;
	width:20%;
	padding-top:50px;
	color:white;
}
#fname{
	float:left;
	position:absolute;
	width:350px;
	height:50px;
	border-radius:20px 0px 0px 20px;
}
.thu{
	width:90px;
	height:55px;
	float:right;
	margin-right:435px;
	border-radius:10px 20px 20px 10px;;
}
.slider{
	overflow:hidden;
	height:200px;
}
.slider figure div{
	width:20%;
	float:left;
}
.slider figure .a{
	width:100%;
	float:left;
}
.slider figure{
	position:relative;
	width:500%;
	margin:0;
	animation:20s slidy infinite;
}
@keyframes slidy{
	0%{
		left:0%;
	}
	10%{
		left:0%;
	}
	12%{
		left:-100%;
	}
	22%{
		left:-100%;
	}
	24%{
		left:-200%;
	}
	34%{
		left:-200%;
	}
	36%{
		left:-300%;
	}
	46%{
		left:-300%;
	}
	48%{
		left:-400%;
	}
	58%{
		left:-400%;
	}
	60%{
		left:-300%;
	}
	70%{
		left:-300%;
	}
	72%{
		left:-200%;
	}
	82%{
		left:-200%;
	}
	84%{
		left:-100%;
	}
	94%{
		left:-100%;
	}
	96%{
		left:0%;
	}
}