/*******************Form Đặt Hàng Online*****************/
/*Dùng Chung Css Main Style.css*/
	/*Banner Head*/
	/*FormatSize MiniMap*/
	/*Footer Botoom*/
/*Phần Riêng Form.css*/

/*Style font*/
@font-face{
	font-family:Font-1;
	src:url('../fonts/HL-OngDo-Unicode.ttf');
}
@font-face{
	font-family:Font-2;
	src:url('../fonts/HP0014HB.ttf');
}

/*Form Mua HàngOnline*/
#Form{
	width:1200px;
	margin:0 auto;
	margin-bottom:20px;
}	
	#Form>fieldset{
		border:4px solid green;
		border-radius:50px 10px;
	}
	#Form>fieldset>legend{
		border:2px solid green;
		padding:10px;
		margin-left:400px;
		border-radius:50px;
	}
	#Form>fieldset>legend>p{
		font-family:font-1;
		font-size:50px;
	}

/*Col x2*/
.col-x2{
	display:flex;
	width:100%;
}

	.col-x2>div{
			flex:50%;
			padding:50px;
			margin:5px;
		}
	.col-x2>div>h3{
		font-family:font-1;
		font-size:30px;
	}
	.col-x2>div>label>p{
		margin-top:20px;
		font-family:font-2;
	}
/*End Col x2*/	

button{
	margin:0 0 50px 500px;
	padding:30px 50px;
	border-radius:20px;
}
		
	/*Format input*/
	input[type=text]{
		box-sizing:border-box;
		width:100%;
		padding:8px;
		text-align:center;
		border-radius:20px;
		border:2px solid green;
		color:green;
	}
	input[type=text]:focus {
		border:3px solid red;
	}
	
	/*Format radio*/
	input[type=radio],[type=checkbox]{
		margin-right:10px;
		margin-left:20px;
	}
	
	/*Textarea*/
	textarea{
		box-sizing: border-box;
		resize:none;
		width:100%;
		height:150px;
		font-size:16px;
		padding:12px 20px;
		border-radius:20px;
		box-shadow:5px 5px green;
	}
/*End Form Mua HàngOnline*/	