.container{
	width:1000px;
	max-height:960px;
	margin:0 auto;
	background: #f9f9f9;
	font-size:24px;
	padding:25px;
}
 .parallax{
	background: url('slide1.jpg') no-repeat center;
	background-size: cover;
	background-attachment: fixed;
	height:500px;
}

/* .parallax {
    /* min-height: 400px; */
    padding: 100px 35px;
    background: transparent;
} */
.info{
	z-index:2;
	position: relative;
}