* {margin: 0; padding: 0}
body{font: 14px arial}
#mainWap{ 
    width: 1300px; 
    margin: 0 auto;
}
#header{
    background: green;
	margin-bottom: 10px;
}
#menu{
	width:1300px;
	height:30px;
	background-color:#09F;
	margin-bottom: 10px;
}
#left{
    float: left; 
    width:  auto; 
	height:auto;
    background: #f98000; 
	margin-right: 10px
}
#center{
	float: left; 
    width:  auto;
	height:auto;	
    background: #cfcfcf; 
	padding: 10px;
}
#footer{
    background: green; 
    margin-top: 10px;
}
.clr{clear: both;}
#header, #footer, #left, #right{ padding: 10px }
p{margin-bottom: 10px; line-height: 20px}